@import "variables";

nav {
  height:90px;
  background-color: @yellow-primary;
}

button {
  background-color: @yellow-primary;
}

footer {
  background-color: @black-secondary;
}

#article2 {
  background-color: @gray-primary;
}
