@import "variables";

nav {
  height:90px;
  background-color: @yellow-primary;
}

header {
  background-image: url("../img/banner-bg.png");
}
button {
  background-color: @yellow-primary;
}

footer {
  background-color: @black-secondary;
}

#article2 {
  background-color: @gray-primary;
}
